/*-----------------------------------------------------------------

Kayzen GS
Made by @esr360
http://github.com/esr360/Kayzen-GS/
	
-----------------------------------------------------------------*/
.row, .main, .portfolio-grid, .product-grid, .features {
  letter-spacing: -1em;
  display: table !important;
  width: 100%;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
}
.opera-only :-o-prefocus, .row, .main, .portfolio-grid, .product-grid, .features {
  word-spacing: -0.43em;
}
* {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}
.row:after, .main:after, .portfolio-grid:after, .product-grid:after, .features:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.flow-row, .portfolio-grid {
  margin-left: -2.5%;
  width: 102.5%;
}

[class*="span"], .sidebar, .content, .portfolio-item, .product, .feature {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}

[class*="span"] {
  width: 100%;
}

@media (min-width: 940px) {
  .row:not([class*="break"]):not([class*="flow"]) .span-1 {
    width: 6.04167%;
  }
  .row:not([class*="break"]):not([class*="flow"]) .span-2 {
    width: 14.58333%;
  }
  .row:not([class*="break"]):not([class*="flow"]) .span-3 {
    width: 23.125%;
  }
  .row:not([class*="break"]):not([class*="flow"]) .span-4 {
    width: 31.66667%;
  }
  .row:not([class*="break"]):not([class*="flow"]) .span-5 {
    width: 40.20833%;
  }
  .row:not([class*="break"]):not([class*="flow"]) .span-6 {
    width: 48.75%;
  }
  .row:not([class*="break"]):not([class*="flow"]) .span-7 {
    width: 57.29167%;
  }
  .row:not([class*="break"]):not([class*="flow"]) .span-8 {
    width: 65.83333%;
  }
  .row:not([class*="break"]):not([class*="flow"]) .span-9 {
    width: 74.375%;
  }
  .row:not([class*="break"]):not([class*="flow"]) .span-10 {
    width: 82.91667%;
  }
  .row:not([class*="break"]):not([class*="flow"]) .span-11 {
    width: 91.45833%;
  }
  .row:not([class*="break"]):not([class*="flow"]) .span-12 {
    width: 100%;
  }
  .row:not([class*="break"]):not([class*="flow"]) > [class*="span"]:not([class*="break"]) {
    margin-left: 2.5%;
  }
  .row:not([class*="break"]):not([class*="flow"]) > [class*="span"]:not([class*="break"]):first-child {
    margin-left: 0;
  }
}
@media (min-width: 0px) {
  .row.break-0 .span-1 {
    width: 6.04167%;
  }
  .row.break-0 .span-2 {
    width: 14.58333%;
  }
  .row.break-0 .span-3 {
    width: 23.125%;
  }
  .row.break-0 .span-4 {
    width: 31.66667%;
  }
  .row.break-0 .span-5 {
    width: 40.20833%;
  }
  .row.break-0 .span-6 {
    width: 48.75%;
  }
  .row.break-0 .span-7 {
    width: 57.29167%;
  }
  .row.break-0 .span-8 {
    width: 65.83333%;
  }
  .row.break-0 .span-9 {
    width: 74.375%;
  }
  .row.break-0 .span-10 {
    width: 82.91667%;
  }
  .row.break-0 .span-11 {
    width: 91.45833%;
  }
  .row.break-0 .span-12 {
    width: 100%;
  }
  .row.break-0 > [class*="span"]:not([class*="break"]) {
    margin-left: 2.5%;
  }
  .row.break-0 > [class*="span"]:not([class*="break"]):first-child {
    margin-left: 0;
  }
  .row.break-0.block-row > [class*="span"] {
    display: table-cell;
  }
}
@media (min-width: 460px) {
  .row.break-1 .span-1 {
    width: 6.04167%;
  }
  .row.break-1 .span-2 {
    width: 14.58333%;
  }
  .row.break-1 .span-3 {
    width: 23.125%;
  }
  .row.break-1 .span-4 {
    width: 31.66667%;
  }
  .row.break-1 .span-5 {
    width: 40.20833%;
  }
  .row.break-1 .span-6 {
    width: 48.75%;
  }
  .row.break-1 .span-7 {
    width: 57.29167%;
  }
  .row.break-1 .span-8 {
    width: 65.83333%;
  }
  .row.break-1 .span-9 {
    width: 74.375%;
  }
  .row.break-1 .span-10 {
    width: 82.91667%;
  }
  .row.break-1 .span-11 {
    width: 91.45833%;
  }
  .row.break-1 .span-12 {
    width: 100%;
  }
  .row.break-1 > [class*="span"]:not([class*="break"]) {
    margin-left: 2.5%;
  }
  .row.break-1 > [class*="span"]:not([class*="break"]):first-child {
    margin-left: 0;
  }
  .row.break-1.block-row > [class*="span"] {
    display: table-cell;
  }
}
@media (min-width: 720px) {
  .row.break-2 .span-1 {
    width: 6.04167%;
  }
  .row.break-2 .span-2 {
    width: 14.58333%;
  }
  .row.break-2 .span-3 {
    width: 23.125%;
  }
  .row.break-2 .span-4 {
    width: 31.66667%;
  }
  .row.break-2 .span-5 {
    width: 40.20833%;
  }
  .row.break-2 .span-6 {
    width: 48.75%;
  }
  .row.break-2 .span-7 {
    width: 57.29167%;
  }
  .row.break-2 .span-8 {
    width: 65.83333%;
  }
  .row.break-2 .span-9 {
    width: 74.375%;
  }
  .row.break-2 .span-10 {
    width: 82.91667%;
  }
  .row.break-2 .span-11 {
    width: 91.45833%;
  }
  .row.break-2 .span-12 {
    width: 100%;
  }
  .row.break-2 > [class*="span"]:not([class*="break"]) {
    margin-left: 2.5%;
  }
  .row.break-2 > [class*="span"]:not([class*="break"]):first-child {
    margin-left: 0;
  }
  .row.break-2.block-row > [class*="span"] {
    display: table-cell;
  }
}
@media (min-width: 940px) {
  .row.break-3 .span-1 {
    width: 6.04167%;
  }
  .row.break-3 .span-2 {
    width: 14.58333%;
  }
  .row.break-3 .span-3 {
    width: 23.125%;
  }
  .row.break-3 .span-4 {
    width: 31.66667%;
  }
  .row.break-3 .span-5 {
    width: 40.20833%;
  }
  .row.break-3 .span-6 {
    width: 48.75%;
  }
  .row.break-3 .span-7 {
    width: 57.29167%;
  }
  .row.break-3 .span-8 {
    width: 65.83333%;
  }
  .row.break-3 .span-9 {
    width: 74.375%;
  }
  .row.break-3 .span-10 {
    width: 82.91667%;
  }
  .row.break-3 .span-11 {
    width: 91.45833%;
  }
  .row.break-3 .span-12 {
    width: 100%;
  }
  .row.break-3 > [class*="span"]:not([class*="break"]) {
    margin-left: 2.5%;
  }
  .row.break-3 > [class*="span"]:not([class*="break"]):first-child {
    margin-left: 0;
  }
  .row.break-3.block-row > [class*="span"] {
    display: table-cell;
  }
}
@media (min-width: 1200px) {
  .row.break-4 .span-1 {
    width: 6.04167%;
  }
  .row.break-4 .span-2 {
    width: 14.58333%;
  }
  .row.break-4 .span-3 {
    width: 23.125%;
  }
  .row.break-4 .span-4 {
    width: 31.66667%;
  }
  .row.break-4 .span-5 {
    width: 40.20833%;
  }
  .row.break-4 .span-6 {
    width: 48.75%;
  }
  .row.break-4 .span-7 {
    width: 57.29167%;
  }
  .row.break-4 .span-8 {
    width: 65.83333%;
  }
  .row.break-4 .span-9 {
    width: 74.375%;
  }
  .row.break-4 .span-10 {
    width: 82.91667%;
  }
  .row.break-4 .span-11 {
    width: 91.45833%;
  }
  .row.break-4 .span-12 {
    width: 100%;
  }
  .row.break-4 > [class*="span"]:not([class*="break"]) {
    margin-left: 2.5%;
  }
  .row.break-4 > [class*="span"]:not([class*="break"]):first-child {
    margin-left: 0;
  }
  .row.break-4.block-row > [class*="span"] {
    display: table-cell;
  }
}

.flow-row .span-1 {
  width: 97.5%;
}
@media (min-width: 940px) {
  .flow-row .span-1 {
    width: 5.83333%;
  }
}
.flow-row .span-2 {
  width: 97.5%;
}
@media (min-width: 940px) {
  .flow-row .span-2 {
    width: 14.16667%;
  }
}
.flow-row .span-3 {
  width: 97.5%;
}
@media (min-width: 940px) {
  .flow-row .span-3 {
    width: 22.5%;
  }
}
.flow-row .span-4 {
  width: 97.5%;
}
@media (min-width: 940px) {
  .flow-row .span-4 {
    width: 30.83333%;
  }
}
.flow-row .span-5 {
  width: 97.5%;
}
@media (min-width: 940px) {
  .flow-row .span-5 {
    width: 39.16667%;
  }
}
.flow-row .span-6 {
  width: 97.5%;
}
@media (min-width: 940px) {
  .flow-row .span-6 {
    width: 47.5%;
  }
}
.flow-row .span-7 {
  width: 97.5%;
}
@media (min-width: 940px) {
  .flow-row .span-7 {
    width: 55.83333%;
  }
}
.flow-row .span-8 {
  width: 97.5%;
}
@media (min-width: 940px) {
  .flow-row .span-8 {
    width: 64.16667%;
  }
}
.flow-row .span-9 {
  width: 97.5%;
}
@media (min-width: 940px) {
  .flow-row .span-9 {
    width: 72.5%;
  }
}
.flow-row .span-10 {
  width: 97.5%;
}
@media (min-width: 940px) {
  .flow-row .span-10 {
    width: 80.83333%;
  }
}
.flow-row .span-11 {
  width: 97.5%;
}
@media (min-width: 940px) {
  .flow-row .span-11 {
    width: 89.16667%;
  }
}
.flow-row .span-12 {
  width: 97.5%;
}
@media (min-width: 940px) {
  .flow-row .span-12 {
    width: 97.5%;
  }
}
.flow-row > [class*="span"] {
  margin-left: 2.5%;
}

@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(1), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(1) ~ [class*="span"] {
    width: 100%;
  }
}
@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(2), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(2) ~ [class*="span"] {
    width: 48.75%;
  }
}
@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(3), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(3) ~ [class*="span"] {
    width: 31.66667%;
  }
}
@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(4), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(4) ~ [class*="span"] {
    width: 23.125%;
  }
}
@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(5), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(5) ~ [class*="span"] {
    width: 18%;
  }
}
@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(6), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(6) ~ [class*="span"] {
    width: 14.58333%;
  }
}
@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(7), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(7) ~ [class*="span"] {
    width: 12.14286%;
  }
}
@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(8), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(8) ~ [class*="span"] {
    width: 10.3125%;
  }
}
@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(9), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(9) ~ [class*="span"] {
    width: 8.88889%;
  }
}
@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(10), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(10) ~ [class*="span"] {
    width: 7.75%;
  }
}
@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(11), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(11) ~ [class*="span"] {
    width: 6.81818%;
  }
}
@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(12), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(12) ~ [class*="span"] {
    width: 6.04167%;
  }
}

@media (min-width: 940px) {
  .block-row > [class*="span"]:not([class*="break"]) {
    display: table-cell;
  }
}

@media (min-width: 0px) {
  .row .break-0-full {
    width: 97.5%;
  }
  .row .break-0-half {
    width: 47.5%;
  }
  .row .break-0-third {
    width: 30.83333%;
  }
  .row .break-0-quarter {
    width: 22.5%;
  }
  .row .break-0-sixth {
    width: 14.16667%;
  }
}
@media (min-width: 460px) {
  .row .break-1-full {
    width: 97.5%;
  }
  .row .break-1-half {
    width: 47.5%;
  }
  .row .break-1-third {
    width: 30.83333%;
  }
  .row .break-1-quarter {
    width: 22.5%;
  }
  .row .break-1-sixth {
    width: 14.16667%;
  }
}
@media (min-width: 720px) {
  .row .break-2-full {
    width: 97.5%;
  }
  .row .break-2-half {
    width: 47.5%;
  }
  .row .break-2-third {
    width: 30.83333%;
  }
  .row .break-2-quarter {
    width: 22.5%;
  }
  .row .break-2-sixth {
    width: 14.16667%;
  }
}
@media (min-width: 940px) {
  .row .break-3-full {
    width: 97.5%;
  }
  .row .break-3-half {
    width: 47.5%;
  }
  .row .break-3-third {
    width: 30.83333%;
  }
  .row .break-3-quarter {
    width: 22.5%;
  }
  .row .break-3-sixth {
    width: 14.16667%;
  }
}
@media (min-width: 1200px) {
  .row .break-4-full {
    width: 97.5%;
  }
  .row .break-4-half {
    width: 47.5%;
  }
  .row .break-4-third {
    width: 30.83333%;
  }
  .row .break-4-quarter {
    width: 22.5%;
  }
  .row .break-4-sixth {
    width: 14.16667%;
  }
}

.sidebar {
  width: 100%;
}
@media (min-width: 940px) {
  .sidebar {
    width: 23.125%;
    margin-left: 2.5%;
  }
  .sidebar:first-child {
    margin-left: 0;
  }
}

.content {
  width: 100%;
}
@media (min-width: 940px) {
  .content {
    width: 74.375%;
    margin-left: 2.5%;
  }
  .content:first-child {
    margin-left: 0;
  }
}

.portfolio-item {
  width: 97.5%;
  margin-left: 2.5%;
}
@media (min-width: 460px) {
  .portfolio-item {
    width: 47.5%;
  }
}
@media (min-width: 720px) {
  .portfolio-item {
    width: 30.83333%;
  }
}
@media (min-width: 940px) {
  .portfolio-item {
    width: 22.5%;
  }
}

.product:first-child:nth-last-child(1), .product:first-child:nth-last-child(1) ~ [class*="product"] {
  margin-left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .product:first-child:nth-last-child(1), .product:first-child:nth-last-child(1) ~ [class*="product"] {
    width: 100%;
    margin-left: 2.5%;
  }
  .product:first-child:nth-last-child(1):first-child, .product:first-child:nth-last-child(1) ~ [class*="product"]:first-child {
    margin-left: 0;
  }
}
.product:first-child:nth-last-child(2), .product:first-child:nth-last-child(2) ~ [class*="product"] {
  margin-left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .product:first-child:nth-last-child(2), .product:first-child:nth-last-child(2) ~ [class*="product"] {
    width: 48.75%;
    margin-left: 2.5%;
  }
  .product:first-child:nth-last-child(2):first-child, .product:first-child:nth-last-child(2) ~ [class*="product"]:first-child {
    margin-left: 0;
  }
}
.product:first-child:nth-last-child(3), .product:first-child:nth-last-child(3) ~ [class*="product"] {
  margin-left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .product:first-child:nth-last-child(3), .product:first-child:nth-last-child(3) ~ [class*="product"] {
    width: 31.66667%;
    margin-left: 2.5%;
  }
  .product:first-child:nth-last-child(3):first-child, .product:first-child:nth-last-child(3) ~ [class*="product"]:first-child {
    margin-left: 0;
  }
}
.product:first-child:nth-last-child(4), .product:first-child:nth-last-child(4) ~ [class*="product"] {
  margin-left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .product:first-child:nth-last-child(4), .product:first-child:nth-last-child(4) ~ [class*="product"] {
    width: 23.125%;
    margin-left: 2.5%;
  }
  .product:first-child:nth-last-child(4):first-child, .product:first-child:nth-last-child(4) ~ [class*="product"]:first-child {
    margin-left: 0;
  }
}
.product:first-child:nth-last-child(5), .product:first-child:nth-last-child(5) ~ [class*="product"] {
  margin-left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .product:first-child:nth-last-child(5), .product:first-child:nth-last-child(5) ~ [class*="product"] {
    width: 18%;
    margin-left: 2.5%;
  }
  .product:first-child:nth-last-child(5):first-child, .product:first-child:nth-last-child(5) ~ [class*="product"]:first-child {
    margin-left: 0;
  }
}
.product:first-child:nth-last-child(6), .product:first-child:nth-last-child(6) ~ [class*="product"] {
  margin-left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .product:first-child:nth-last-child(6), .product:first-child:nth-last-child(6) ~ [class*="product"] {
    width: 14.58333%;
    margin-left: 2.5%;
  }
  .product:first-child:nth-last-child(6):first-child, .product:first-child:nth-last-child(6) ~ [class*="product"]:first-child {
    margin-left: 0;
  }
}
.product:first-child:nth-last-child(7), .product:first-child:nth-last-child(7) ~ [class*="product"] {
  margin-left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .product:first-child:nth-last-child(7), .product:first-child:nth-last-child(7) ~ [class*="product"] {
    width: 12.14286%;
    margin-left: 2.5%;
  }
  .product:first-child:nth-last-child(7):first-child, .product:first-child:nth-last-child(7) ~ [class*="product"]:first-child {
    margin-left: 0;
  }
}
.product:first-child:nth-last-child(8), .product:first-child:nth-last-child(8) ~ [class*="product"] {
  margin-left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .product:first-child:nth-last-child(8), .product:first-child:nth-last-child(8) ~ [class*="product"] {
    width: 10.3125%;
    margin-left: 2.5%;
  }
  .product:first-child:nth-last-child(8):first-child, .product:first-child:nth-last-child(8) ~ [class*="product"]:first-child {
    margin-left: 0;
  }
}
.product:first-child:nth-last-child(9), .product:first-child:nth-last-child(9) ~ [class*="product"] {
  margin-left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .product:first-child:nth-last-child(9), .product:first-child:nth-last-child(9) ~ [class*="product"] {
    width: 8.88889%;
    margin-left: 2.5%;
  }
  .product:first-child:nth-last-child(9):first-child, .product:first-child:nth-last-child(9) ~ [class*="product"]:first-child {
    margin-left: 0;
  }
}
.product:first-child:nth-last-child(10), .product:first-child:nth-last-child(10) ~ [class*="product"] {
  margin-left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .product:first-child:nth-last-child(10), .product:first-child:nth-last-child(10) ~ [class*="product"] {
    width: 7.75%;
    margin-left: 2.5%;
  }
  .product:first-child:nth-last-child(10):first-child, .product:first-child:nth-last-child(10) ~ [class*="product"]:first-child {
    margin-left: 0;
  }
}
.product:first-child:nth-last-child(11), .product:first-child:nth-last-child(11) ~ [class*="product"] {
  margin-left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .product:first-child:nth-last-child(11), .product:first-child:nth-last-child(11) ~ [class*="product"] {
    width: 6.81818%;
    margin-left: 2.5%;
  }
  .product:first-child:nth-last-child(11):first-child, .product:first-child:nth-last-child(11) ~ [class*="product"]:first-child {
    margin-left: 0;
  }
}
.product:first-child:nth-last-child(12), .product:first-child:nth-last-child(12) ~ [class*="product"] {
  margin-left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .product:first-child:nth-last-child(12), .product:first-child:nth-last-child(12) ~ [class*="product"] {
    width: 6.04167%;
    margin-left: 2.5%;
  }
  .product:first-child:nth-last-child(12):first-child, .product:first-child:nth-last-child(12) ~ [class*="product"]:first-child {
    margin-left: 0;
  }
}

.feature {
  width: 100%;
}
@media (min-width: 940px) {
  .feature {
    width: 31.66667%;
    margin-left: 2.5%;
    display: table-cell;
  }
  .feature:first-child {
    margin-left: 0;
  }
}
