/*-----------------------------------------------------------------

Kayzen GS
Made by @esr360
http://github.com/esr360/Kayzen-GS/
	
-----------------------------------------------------------------*/
.row, .main, .portfolio-grid, .clients {
  letter-spacing: -0.31em;
  display: table !important;
  width: 100%;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
}
.opera-only :-o-prefocus, .row, .main, .portfolio-grid, .clients {
  word-spacing: -0.43em;
}
* {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}

.flow-row, .portfolio-grid {
  margin-left: -2.5%;
  width: 102.5%;
}

[class*="span"], .sidebar, .content, .portfolio-item, .client {
  display: inline-block;
  vertical-align: top;
  margin-left: 2.5%;
  *display: inline;
  zoom: 1;
}
[class*="span"]:first-child, .sidebar:first-child, .content:first-child, .portfolio-item:first-child, .client:first-child {
  margin-left: 0;
}

.span-1 {
  width: 6.04167%;
}

.span-2 {
  width: 14.58333%;
}

.span-3 {
  width: 23.125%;
}

.span-4 {
  width: 31.66667%;
}

.span-5 {
  width: 40.20833%;
}

.span-6 {
  width: 48.75%;
}

.span-7 {
  width: 57.29167%;
}

.span-8 {
  width: 65.83333%;
}

.span-9 {
  width: 74.375%;
}

.span-10 {
  width: 82.91667%;
}

.span-11 {
  width: 91.45833%;
}

.span-12 {
  width: 100%;
}

@media (max-width: 940px) {
  .row:not([class*="break"]):not([class*="flow"]) [class*="span"]:not([class*="break"]) {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 460px) {
  .row.break-1 > [class*="span"]:not([class*="break"]) {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 720px) {
  .row.break-2 > [class*="span"]:not([class*="break"]) {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 940px) {
  .row.break-3 > [class*="span"]:not([class*="break"]) {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .row.break-4 > [class*="span"]:not([class*="break"]) {
    width: 100%;
    margin-left: 0;
  }
}

.flow-row .span-1 {
  width: 5.83333%;
}
.flow-row .span-2 {
  width: 14.16667%;
}
.flow-row .span-3 {
  width: 22.5%;
}
.flow-row .span-4 {
  width: 30.83333%;
}
.flow-row .span-5 {
  width: 39.16667%;
}
.flow-row .span-6 {
  width: 47.5%;
}
.flow-row .span-7 {
  width: 55.83333%;
}
.flow-row .span-8 {
  width: 64.16667%;
}
.flow-row .span-9 {
  width: 72.5%;
}
.flow-row .span-10 {
  width: 80.83333%;
}
.flow-row .span-11 {
  width: 89.16667%;
}
.flow-row .span-12 {
  width: 97.5%;
}
.flow-row > [class*="span"]:first-child {
  margin-left: 2.5%;
}
@media (max-width: 940px) {
  .flow-row > [class*="span"] {
    width: 97.5%;
    margin-left: 2.5%;
  }
}

@media (min-width: 940px) {
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(1), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(1) ~ [class*="span"] {
    width: 100%;
  }
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(2), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(2) ~ [class*="span"] {
    width: 48.75%;
  }
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(3), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(3) ~ [class*="span"] {
    width: 31.66667%;
  }
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(4), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(4) ~ [class*="span"] {
    width: 23.125%;
  }
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(5), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(5) ~ [class*="span"] {
    width: 18%;
  }
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(6), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(6) ~ [class*="span"] {
    width: 14.58333%;
  }
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(7), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(7) ~ [class*="span"] {
    width: 12.14286%;
  }
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(8), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(8) ~ [class*="span"] {
    width: 10.3125%;
  }
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(9), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(9) ~ [class*="span"] {
    width: 8.88889%;
  }
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(10), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(10) ~ [class*="span"] {
    width: 7.75%;
  }
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(11), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(11) ~ [class*="span"] {
    width: 6.81818%;
  }
  .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(12), .magic-row > [class*="span"]:not([class*="break"]):first-child:nth-last-child(12) ~ [class*="span"] {
    width: 6.04167%;
  }
}
.block-row > [class*="span"]:not([class*="break"]) {
  display: table-cell;
}

@media (max-width: 1200px) {
  .row .break-4-full {
    width: 97.5%;
  }
  .row .break-4-half {
    width: 47.5%;
  }
  .row .break-4-third {
    width: 30.83333%;
  }
  .row .break-4-quarter {
    width: 22.5%;
  }
  .row .break-4-sixth {
    width: 14.16667%;
  }
}
@media (max-width: 940px) {
  .row .break-3-full {
    width: 97.5%;
  }
  .row .break-3-half {
    width: 47.5%;
  }
  .row .break-3-third {
    width: 30.83333%;
  }
  .row .break-3-quarter {
    width: 22.5%;
  }
  .row .break-3-sixth {
    width: 14.16667%;
  }
}
@media (max-width: 720px) {
  .row .break-2-full {
    width: 97.5%;
  }
  .row .break-2-half {
    width: 47.5%;
  }
  .row .break-2-third {
    width: 30.83333%;
  }
  .row .break-2-quarter {
    width: 22.5%;
  }
  .row .break-2-sixth {
    width: 14.16667%;
  }
}
@media (max-width: 460px) {
  .row .break-1-full {
    width: 97.5%;
  }
  .row .break-1-half {
    width: 47.5%;
  }
  .row .break-1-third {
    width: 30.83333%;
  }
  .row .break-1-quarter {
    width: 22.5%;
  }
  .row .break-1-sixth {
    width: 14.16667%;
  }
}

.sidebar {
  width: 31.66667%;
}
@media (max-width: 940px) {
  .sidebar {
    width: 100%;
    margin-left: 0;
  }
}

.content {
  width: 65.83333%;
}
@media (max-width: 940px) {
  .content {
    width: 100%;
    margin-left: 0;
  }
}

.portfolio-item {
  width: 22.5%;
}
.portfolio-item:first-child {
  margin-left: 2.5%;
}
@media (max-width: 940px) {
  .portfolio-item {
    width: 30.83333%;
  }
}
@media (max-width: 720px) {
  .portfolio-item {
    width: 47.5%;
  }
}
@media (max-width: 460px) {
  .portfolio-item {
    width: 97.5%;
  }
}

.client {
  width: 100%;
}
.client:first-child:nth-last-child(1), .client:first-child:nth-last-child(1) ~ [class*="client"] {
  width: 100%;
}
.client:first-child:nth-last-child(2), .client:first-child:nth-last-child(2) ~ [class*="client"] {
  width: 48.75%;
}
.client:first-child:nth-last-child(3), .client:first-child:nth-last-child(3) ~ [class*="client"] {
  width: 31.66667%;
}
.client:first-child:nth-last-child(4), .client:first-child:nth-last-child(4) ~ [class*="client"] {
  width: 23.125%;
}
.client:first-child:nth-last-child(5), .client:first-child:nth-last-child(5) ~ [class*="client"] {
  width: 18%;
}
.client:first-child:nth-last-child(6), .client:first-child:nth-last-child(6) ~ [class*="client"] {
  width: 14.58333%;
}
