//-----------------------------------------------------------------
// Core Column Mixin
//-----------------------------------------------------------------

@mixin column($config: ()) {
    
	$config: map-merge-deep((
        
		core  : false
        
	), $config);
    
    #{$col-namespace} {
        
        @if config(core) {
            display: inline-block;
            vertical-align: top;
            // IE < 8: fake inline-block
            @if setting(old-ie) {
                *display: inline;
                zoom: 1; 
            }
        }
        
        @if setting(mobile-first) {
            width: 100%;
        }
        
        @include context() {
            
        }
        
    } // $col-namespace
    
} // column()

@if not setting(mobile-first) {	
    .#{option(row-namespace)},
    [class*="#{option(row-namespace)}"]:not([class*="-no-gutter"]):not([class*="-flow"]) {
        > #{$col-selector} {
            @include gutter;
        }
    }
}