//=================================================================
// Grid
//=================================================================

/*-----------------------------------------------------------------

Kayzen GS
Made by @esr360
http://github.com/esr360/Kayzen-GS/
	
-----------------------------------------------------------------*/

@mixin grid($custom: ()) {
        
    //-------------------------------------------------------------
    // Row
    //-------------------------------------------------------------
    
    %row {
    }
    
    .#{map-get-deep($grid, options, row-namespace)} {
        
        @extend %row;
        
        // row-helpers
        
    } // component(row)
    
    //-------------------------------------------------------------
    // Single Column
    //-------------------------------------------------------------
    
    %column {
    }
    
    #{$col-selector} {
        
        @extend %column;
       
        
    // Custom Width Overrides
    //-------------------------------------------------------------
    
 
    
    } // $col-selector
	
} // @mixin grid

//-------------------------------------------------------------
// Functions
//-------------------------------------------------------------


// Config
//-------------------------------------------------------------


//-------------------------------------------------------------
// Utilities
//-------------------------------------------------------------


// Magic Column
//-------------------------------------------------------------

@mixin magic-column($config: ()) {
	
	$config: map-merge((
		namespace : map-get-deep($grid, options, col-namespace), 
		stack     : map-get-deep($grid, options, col-collapse), 
		semantic  : true
	), $config);
	
	&:first-child {
		@for $i from 1 through map-get-deep($grid, options, columns) {
			&:nth-last-child(#{$i}) {
				&, ~ [class*="#{map-get($config, namespace)}"] {
					@if map-get-deep($grid, settings, mobile-first) {	
						@if map-get($config, semantic) {
							margin-left: 0;	
							width: 100%;
						}	
						@media (min-width: map-get($config, stack)) {
							width: magic-column-width($i);
							@if map-get($config, semantic) {
								@include gutter;
							}
						}
					} @else {
						width: magic-column-width($i);
						@if map-get($config, semantic) {
							@include gutter;
						}
						@media (max-width: map-get($config, stack)) {
							width: 100%;
							@if map-get($config, semantic) {
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
		
} // @mixin magic-column

//=================================================================
// Semantic Grid System Framework
//=================================================================


@include grid;